@model Cinephile.Web.ViewModels.TVShows.AllTVShowsViewModel
@{
    ViewData["Title"] = "Search TV Shows";
}

<hr />
<div class="container-fluid">
    <div class="row content">
        <div class="col-3 sidenav">
            <div class="text-center"><h1>TVShows</h1></div>
            <hr />
            <form class="form-inline  my-2 my-lg-0" asp-area="" asp-controller="TVShows" asp-action="TVShowsByQuery">
                <input class="form-control" style="width: 245px" type="text" name="input" placeholder="Search TV Show">
                <input class="btn btn-info" style="width: 245px" type="submit" value="Search" />
            </form>
            <br />
            <div class="form-group">
                <label for="exampleFormControlSelect1">Genre</label>
                <br />
                @foreach (var genre in Model.Genres)
                {
                    <a class="badge badge-primary" href="/Movies/MoviesByGenre/?genre=@genre.Name">@genre.Name</a>
                }
            </div>
            <br />
            @if (this.User.IsInRole("Administrator"))
            {
                <a class="btn btn-primary" style="width: 245px" asp-area="Administration" asp-controller="TVShows" asp-action="Create">Add TV Show</a>
            }
        </div>

        <div class="col-md-40 media-body">
            <div class="row">
                @foreach (var tvshow in Model.TVShows)
                {
                    <div class="col-md-4 media">
                        <div class="media-body">
                            <div class="card bg-primary">
                                <img class="card-img-top" src="@tvshow.ImageUrl" alt="Card image cap" height="200" width="200">
                                <div class="card-body">
                                    @{
                                        if (this.User.IsInRole("Administrator"))
                                        {
                                            <a class="btn btn-info" a href="/Administration/TVShows/TVShowView/?title=@tvshow.Title" style="text-decoration:none">@tvshow.Title</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-info" a href="/TVShows/TVShowView/?title=@tvshow.Title" style="text-decoration:none">@tvshow.Title</a>
                                        }
                                    }
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

