
@{
    ViewData["Title"] = "TVShowView";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/Better_Call_Saul_logo.svg/375px-Better_Call_Saul_logo.svg.png" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-7">
                <h1 class="font-weight-light">Better Call Saul (2015)</h1>
                <h4>Overview</h4>
                <p>Six years before Saul Goodman meets Walter White. We meet him when the man who will become Saul Goodman is known as Jimmy McGill, a small-time lawyer searching for his destiny, and, more immediately, hustling to make ends meet. Working alongside, and, often, against Jimmy, is “fixer” Mike Ehrmantraut. The series tracks Jimmy’s transformation into Saul Goodman, the man who puts “criminal” in “criminal lawyer".</p>
                <h4>Seasons - 5</h4>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-active my-5 py-4 text-center">
            <div class="card-body">
                <button type="button" class="btn btn-secondary">HomePage</button>
                <button type="button" class="btn btn-primary">IMDb</button>
                <button type="button" class="btn btn-warning">YouTube</button>
                <button type="button" class="btn btn-info">Facebook</button>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Creators</h2>
                        <ul>
                            <li>Peter Gould</li>
                            <li>Vince Gilligan</li>
                        </ul>
                        <h2 class="card-title">Producers</h2>
                        <ul>
                            <li>Peter Gould</li>
                            <li>Vince Gilligan</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Actors</h2>
                        <ul>
                            <li>Bob Odenkirk</li>
                            <li>Jonathan Banks</li>
                            <li>Patrick Fabian</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Genre</h3>
                        <ul>
                            <li>Crime Drama</li>
                            <li>BlackComedy</li>
                        </ul>
                        <h3 class="card-title">Release</h3>
                        <ul>
                            <li>February 8, 2015</li>
                        </ul>
                        <h3 class="card-title">Country</h3>
                        <ul>
                            <li>United States</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>

