
@{
    ViewData["Title"] = "TVShowsIndex";
}

<hr />
<h1>TVShows</h1>
<hr />
<div class="container-fluid">
    <div class="row content">
        <div class="col-3 sidenav">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Movie Title</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Genre</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button type="button" class="btn btn-info">Search</button>
            </form>
        </div>

        <div class="col-md-40 media-body">
            <div class="card-deck">
                <div class="card bg-info text-black-50">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" alt="Card image cap" height="277" width="200">
                    <div class="card-body">
                        <h5 class="card-title">Breaking Bad (2008-2013)</h5>
                    </div>
                </div>
                <div class="card bg-info text-black-50">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" alt="Card image cap" height="277" width="200">
                    <div class="card-body">
                        <h5 class="card-title">Breaking Bad (2008-2013)</h5>
                    </div>
                </div>
                <div class="card bg-info text-black-50">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/1yeVJox3rjo2jBKrrihIMj7uoS9.jpg" alt="Card image cap" height="277" width="200">
                    <div class="card-body">
                        <h5 class="card-title">Breaking Bad (2008-2013)</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

