@model Cinephile.Web.ViewModels.TVShows.TVShowsCreateModel
@{
    ViewData["Title"] = "Create TV Show";
}

<hr />

<h1>Add TV Show</h1>

<form method="post" asp-action="Create">
    <hr />
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control bg-white" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control bg-white" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control bg-white" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Seasons"></label>
        <input asp-for="Seasons" class="form-control bg-white" />
        <span asp-validation-for="Seasons" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" style="background-color:white"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="HomePageLink"></label>
        <input asp-for="HomePageLink" class="form-control bg-white" />
        <span asp-validation-for="HomePageLink" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="IMDBLink"></label>
        <input asp-for="IMDBLink" class="form-control bg-white" />
        <span asp-validation-for="IMDBLink" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="TrailerLink"></label>
        <input asp-for="TrailerLink" class="form-control bg-white" />
        <span asp-validation-for="TrailerLink" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FacebookLink"></label>
        <input asp-for="FacebookLink" class="form-control bg-white" />
        <span asp-validation-for="FacebookLink" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Creater"></label>
        <input asp-for="Creater" class="form-control bg-white" />
        <span asp-validation-for="Creater" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Producer"></label>
        <input asp-for="Producer" class="form-control bg-white" />
        <span asp-validation-for="Producer" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control bg-white" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ReleaseDate"></label>
        <input asp-for="ReleaseDate" class="form-control bg-white" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" class="form-control bg-white" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a class="btn btn-success" asp-area="" asp-controller="TVShows" asp-action="TVShowsIndex">Back</a>
</form>



