@model Cinephile.Web.ViewModels.Posts.PostViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<hr />
<div class="alert alert-dark">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-5">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Dwayne_Johnson_2%2C_2013.jpg/330px-Dwayne_Johnson_2%2C_2013.jpg" class="d-block ui-w-40 rounded-circle class="img-thumbnail" width="150px">
                    <a class="text-muted small">@Model.CreatedOn</a>
                </div>
                <div class="col-lg-10 col-sm-10 col-7">
                    <h4 class="text-center text-black-50">@Model.Title</h4>
                    <p>@Model.Content</p>
                </div>
            </div>
            <div class="row post-detail">
                <div class="col-lg-12 col-sm-12 col-12">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-comment" aria-hidden="true"></i> <span class="text-info">3 Comments</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span>Tags:</span>
                            <span class="badge badge-dark">bootstrap 4.0</span>
                            <span class="badge badge-dark">laravel</span>
                            <span class="badge badge-dark">html</span>
                            <span class="badge badge-dark">css</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar" aria-hidden="true"></i> <span>@Model.CreatedOn</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

