
@{
    ViewData["Title"] = "ActorView";
}

<h1>ActorView</h1>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Quentin_Tarantino_by_Gage_Skidmore.jpg/330px-Quentin_Tarantino_by_Gage_Skidmore.jpg" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-7">
                <h1 class="font-weight-light">Quentin Tarantino</h1>
                <h4>Biography</h4>
                <p>
                    Quentin Jerome Tarantino (born March 27, 1963) is an American film director, screenwriter, producer, cinematographer and actor. In the early 1990s he was an independent filmmaker whose films used nonlinear storylines and aestheticization of violence. His films have earned him a variety of Academy Award, Golden Globe, BAFTA and Palme d'Or Awards and he has been nominated for Emmy and Grammy Awards. In 2007, Total Film named him the 12th-greatest director of all time.

                    Tarantino was born in Knoxville, Tennessee, the son of Connie McHugh Tarantino Zastoupil, a health care executive and nurse born in Knoxville, and Tony Tarantino, an actor and amateur musician born in Queens, New York.
                </p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-active my-5 py-4 text-center">
            <div class="card-body">
                <button type="button" class="btn btn-secondary">HomePage</button>
                <button type="button" class="btn btn-primary">IMDb</button>
                <button type="button" class="btn btn-warning">YouTube</button>
                <button type="button" class="btn btn-info">Facebook</button>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Gender</h3>
                        <ul>
                            <li>Male</li>
                        </ul>
                        <h3 class="card-title">Birthday</h3>
                        <ul>
                            <li>1963-03-27 (57 years old)</li>
                        </ul>
                        <h3 class="card-title">Place of Birth</h3>
                        <ul>
                            <li>Knoxville, Tennessee, USA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Acting</h2>
                        <ul>
                            <li>Ennio: The Maestro</li>
                            <li>What She Said: The Art of Pauline Kael</li>
                            <li>Friedkin Uncut</li>
                            <li>Eli Roth's History of Horror</li>
                            <li>The Great Buster: A Celebration</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Style</h3>
                        <ul>
                            <li>Crime</li>
                            <li>Drama</li>
                            <li>Action</li>
                            <li>BlackComedy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>

