
@{
    ViewData["Title"] = "ActorsIndex";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/Actors/ActorsIndex">Actors</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<hr />

<div class="row">
    @for (int i = 0; i < 8; i++)
    {
        <div class="col-md-3 media">
            <div class="media-body">
                <div class="card bg-info">
                    <img class="card-img-top" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTY3MDUxMjkzMjI1OTIwMTcz/brad-pitt-attends-the-premiere-of-20th-century-foxs--square.jpg" alt="Card image cap" height="200" width="200">
                    <div class="card-body">
                        <p style="color:black;">Thassapak Hsu</p>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    }
</div>




