@model Cinephile.Web.ViewModels.Categories.AllCategoriesViewModel
@{
    this.ViewData["Title"] = "Categories";
}

<hr />

<div class="text-white text-md-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>

<hr />

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4 media">
            <div class="media-body text-md-center">
                <img src="@category.ImageUrl" width="150"  class="text-center" alt="@category.Name">
                <p></p>
                <h5 class="mt-0">
                    <a href="CategoryByName/?categoryName=@category.Name" style="color:white">@category.Name</a>
                </h5>
                <hr />
            </div>
        </div>
    }
</div>

