@{
    this.ViewData["Title"] = "Forum Rules";
}

<hr />
<div class="text-center">
    <h1>Forum Rules</h1>
</div>

<h4>Thanks for participating in our community. To ensure the best possible experience for all members, we have established some basic guidelines for participation.</h4>

<ul>
    <li>1. Treat other members with the respect they deserve. This should go without saying, but treat others like you would like to be treated !</li>
    <li>2. The forum language is English only! Please only post in other languages in PM.</li>
    <li>3. Please do not spam. The definition of spam is an irrelevant or advertising post. Any post considered spam will be removed.</li>
    <li>4. Please do not post threads text in all CAPITALS since this is considered to be shouting and is not necessary.</li>
    <li>5. Using red text is forbidden. Only moderators and administrators may use this.</li>
    <li>6. Insulting and flaming or personal attacks against forum staff will be not tolerated.</li>
    <li>7. Please be considerate in language you use on the forum, some of our members are younger than others. Swearing is not completely banned, just do not swear unnecessarily, and only use minor words. A filter is in place to safeguard this system.</li>
    <li>8. No hacking, and illegal activity, such as torrents and illegal downloads, this will not be tolerated, and if appropriate, may be reported to local authority.</li>
    <li>9. Please do not post inappropriate material, I think everyone understands what I mean by this. The policy goes that if you would not feel comfortable viewing it at work, or in front of children or parents, don't post it !</li>
    <li>10. Do not post copyright-infringing material</li> 

</ul>

 



