@{
    this.ViewData["Title"] = "Rules";
}
<h1>
    Forum rules
</h1>
<h2>
    Thanks for participating in our community. To ensure the best possible experience for all members, we have established some basic guidelines for participation.

    By joining and using these forum, you agree that you have read and will follow the rules and guidelines set for these peer discussion groups. You also agree to reserve forum discussions for topics best suited to the medium. This is a great medium with which to solicit the advice of your peers, benefit from their experience, and participate in an ongoing conversation.

    Please take a moment to acquaint yourself with these important guidelines. To preserve a climate that encourages both civil and fruitful dialogue, EASSW reserves the right to suspend or terminate membership on all forum for members who violate these rules.

    THE RULES
    Don’t challenge or attack others. The discussions on the forum are meant to stimulate conversation, not to create contention. Let others have their say, just as you may.
    Don’t post commercial messages. Contact people directly with product and service information if you believe it would help them.
    All defamatory, abusive, profane, threatening, offensive, or illegal materials are strictly prohibited. Do not post anything in a post message that you would not want the world to see or that you would not want anyone to know came from you.
    Please note carefully all items posted in the disclaimer and legal rules below, particularly regarding the copyright ownership of information posted to the topic.
    Remember that EASSW and other forum participants have the right to reproduce postings to this forum.
    Send your message only to the most appropriate topic(s). Do not spam several topics with the same message.
    Include a signature tag on all messages. Include your name, affiliation, location, and e-mail address.
    State concisely and clearly the topic of your comments in the subject line. This allows members to respond more appropriately to your posting and makes it easier for members to search the archives by subject.
    Include only the relevant portions of the original message in your reply. Delete any header information and put your response before the original posting.
    Only send a message to the entire forum when it contains information that can benefit everyone.
    Send messages such as “thanks for the information” or “me, too” to individuals – not to the entire forum.
    Use the Web interface to change your settings or to remove yourself from a topic. If you are changing e-mail addresses, you do not need to remove yourself from the forum and rejoin under your new e-mail address. Simply change your settings.
    Warn other topic subscribers of lengthy messages either in the subject line or at the beginning of the message body with a line that says “Long Message.”
</h2>
                                                                 


